body {
  background: transparent !important;
}

.controller svg path {
  fill: #8b0000 !important; /* Dark red base */
  stroke: #000000 !important; /* Black outline */
  stroke-width: 0.5px !important;
}

/* Make pressed buttons turn black */
.controller .pressed {
  fill: #000000 !important;
}

/* Make sticks & triggers slightly different shade */
.controller #L3,
.controller #R3,
.controller #LT,
.controller #RT,
.controller #LB,
.controller #RB {
  fill: #550000 !important;
}
