body {
  background: transparent;
}

.controller {
  filter: drop-shadow(0 0 8px #550000);
}

/* General controller parts */
.controller svg path {
  fill: #8b0000;
  stroke: #000000;
  stroke-width: 0.5px;
}

/* Pressed button highlight */
.controller .pressed {
  fill: #000000 !important;
}

/* Sticks */
.controller #L3, 
.controller #R3 {
  fill: #111111;
  stroke: #000000;
}

/* D-Pad */
.controller #DU,
.controller #DD,
.controller #DL,
.controller #DR {
  fill: #222222;
  stroke: #000000;
}

/* Face Buttons */
.controller #A,
.controller #B,
.controller #X,
.controller #Y {
  fill: #550000;
  stroke: #000000;
}

/* Triggers and bumpers */
.controller #LT,
.controller #RT,
.controller #LB,
.controller #RB {
  fill: #660000;
  stroke: #000000;
}

/* Center buttons */
.controller #BACK,
.controller #START,
.controller #GUIDE {
  fill: #330000;
  stroke: #000000;
}
